<div *ngIf="kunde">
    <kunde-details-nachname [nachname]="kunde.nachname"></kunde-details-nachname>
    <kunde-details-geschlecht [geschlecht]="kunde.geschlecht"></kunde-details-geschlecht>
    <kunde-details-email [email]="kunde.email"></kunde-details-email>
    <kunde-details-homepage [homepage]="kunde.homepage"></kunde-details-homepage>
    <!--
    <kunde-details-geburtsdatum
        [formatted]="kunde.geburtsdatumFormatted"
        [fromNow]="kunde.geburtsdatumFromNow"
    ></kunde-details-geburtsdatum>
    <kunde-details-adresse [adresse]="kunde.adresse"></kunde-details-adresse>
    -->
</div>