<div class="form-group row">
    <label for="plzInput" class="col col-2 form-control-label">
        Postleitzahl *
    </label>
    <div class="col col-2">
        <input id="plzInput" placeholder="Plz" class="form-control"
            autofocus formControlName="plz"
            [class.border-danger]="plz.invalid && plz.touched">
        <div *ngIf="plz.invalid && plz.touched" class="alert alert-danger">
            <div *ngIf="plz.errors !== null && plz.errors.required">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Eine Postleitzahl muss eingegeben werden.
                </span>
            </div>
            <div *ngIf="plz.errors !== null && plz.errors.minlength">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Eine Postleizahl muss 5 Zeichen lang sein.
                </span>
            </div>
            <div *ngIf="plz.errors !== null && plz.errors.pattern">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Eine Postleitzahl muss mit einer Ziffer beginnen.
                </span>
            </div>
        </div>
    </div>
    <label for="ortInput" class="col col-1 form-control-label">
        Ort *
    </label>
    <div class="col col-">
        <input id="ortInput" placeholder="Ort" class="form-control"
            autofocus formControlName="ort"
            [class.border-danger]="ort.invalid && ort.touched">
        <div *ngIf="ort.invalid && ort.touched" class="alert alert-danger">
            <div *ngIf="ort.errors !== null && ort.errors.required">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Ein Ort muss eingegeben werden.
                </span>
            </div>
            <div *ngIf="ort.errors !== null && ort.errors.minlength">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Ein Ort muss mindestens 2 Zeichen lang sein.
                </span>
            </div>
            <div *ngIf="ort.errors !== null && ort.errors.pattern">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Eine Ort muss mit einem Buchstaben beginnen.
                </span>
            </div>
        </div>
    </div>
</div>