<div class="form-group row">
    <label for="umsatzInput" class="col col-2 form-control-label">
        Umsatz *
    </label>
    <div class="col col-5">
        <div class="input-group">
            <input id="umsatzInput" placeholder="Umsatz, z.B. 123.45"
                required class="form-control" type="number" formControlName="umsatz"
                [class.border-danger]="umsatz.invalid && umsatz.touched">
        </div>
        <div *ngIf="umsatz.invalid && umsatz.touched" class="alert alert-danger">
            <div *ngIf="umsatz.errors !== null && umsatz.errors.required">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Ein Umsatz muss eingegeben werden, z.B. 123.45
                </span>
            </div>
        </div>
    </div>
    <div class="col col-2">
            <select class="form-control" formControlName="waehrung"
                required [class.border-danger]="waehrung.invalid && waehrung.touched">
                <option value="EUR">Euro</option>
                <option value="USD">US Dollar</option>
            </select>
        </div>
</div>