<div class="form-group row">
    <label for="homepageInput" class="col col-2 form-control-label">
        Homepage *
    </label>
    <div class="col col-10">
        <input 
            id="homepageInput"
            placeholder="Homepage"
            class="form-control"
            required minlength="2"
            formControlName="homepage"
            [class.border-danger]="homepage.invalid && homepage.touched">

        <div *ngIf="homepage.invalid && homepage.touched" class="alert alert-danger">
            <fa-icon [icon]="faExclamationCircle"></fa-icon>
            <span class="ml-1" *ngIf="homepage.errors && homepage.errors.required">
                Eine Homepage muss eingegeben werden.
            </span>
            <span class="ml-1" *ngIf="homepage.errors && homepage.errors.minlength">
                Eine Homepage muss mindestens 2 Zeichen lang sein.
            </span>
        </div>
    </div>
</div>