<div class="form-group row">
    <label for="nachnameInput" class="col col-2 form-control-label">
        Nachname *
    </label>
    <div class="col col-10">
        <input id="nachnameInput" placeholder="Nachname" class="form-control"
            autofocus formControlName="nachname" [class.border-danger]="nachname.invalid && nachname.touched">
        <div *ngIf="nachname.invalid && nachname.touched" class="alert alert-danger">
            <div *ngIf="nachname.errors !== null && nachname.errors.required">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Ein Nachname muss eingegeben werden.
                </span>
            </div>
            <div *ngIf="nachname.errors !== null && nachname.errors.minlength">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Ein Nachname muss mindestens 2 Zeichen lang sein.
                </span>
            </div>
            <div *ngIf="nachname.errors !== null && nachname.errors.pattern">
                <i class="fas fa-exclamation-circle"></i>
                <span class="ml-1">
                    Ein Nachname muss mit einem Buchstaben oder einer Ziffer beginnen.
                </span>
            </div>
        </div>
    </div>
</div>