<div class="form-group row">
    <label for="plzInput ortInput" class="col-2 form-control-label">
        Adresse *
    </label>
    <div class="col-10">
        <div class="input-group form-row" style="padding-right: 0%" [formGroup]="form">
            <div class="col-4">
                <input
                id="plzInput"
                placeholder="5 stellige Plz"
                required
                class="form-control"
                formControlName="plz"
                [class.border-danger]="plz.invalid && plz.touched"
                />
            </div>
            <div class="col" style="padding-right: 0%">
                <input
                    id="ortInput"
                    placeholder="Ort"
                    required
                    class="form-control"
                    formControlName="ort"
                    [class.border-danger]="ort.invalid && ort.touched"
                />
            </div>
        </div>

        <div *ngIf="plz.invalid && plz.touched" class="alert alert-danger">
            <fa-icon [icon]="faExclamationCircle"></fa-icon>
            <span class="ml-1" *ngIf="plz.errors && plz.errors.required">
                Eine Postleitzahl muss eingeben werden!
            </span>
            <span class="ml-1" *ngIf="plz.errors && plz.errors.pattern">
                Eine Postleitzahl muss 5 Stellen haben!
            </span>
        </div>
        <div *ngIf="ort.invalid && ort.touched" class="alert alert-danger">
            <fa-icon [icon]="faExclamationCircle"></fa-icon>
            <span class="ml-1" *ngIf="ort.errors && ort.errors.required">
                Ein Ort muss eingeben werden!
            </span>
            <span class="ml-1" *ngIf="ort.errors && ort.errors.minLength">
                Ein Ort muss mindestens 2 Zeichen lang sein!
            </span>
        </div>
    </div>
</div>
