<div class="form-group row">
    <label for="interessenInput" class="col col-2 form-control-label">
        Interessen
    </label>
    <div class="col col-10">
        <div class="checkbox">
            <input type="checkbox" id="LESENInput"
                    formControlName="L"/>
            <label for="LESENInput">Lesen</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="REISENInput"
                    formControlName="R"/>
            <label for="REISENInput">Reisen</label>
        </div>
        <div class="checkbox">
                <input type="checkbox" id="SPORTInput"
                        formControlName="S"/>
                <label for="SPORTInput">Sport</label>
            </div>
    </div>
</div>