<kunde-waiting *ngIf="waiting; else details"></kunde-waiting>

<ng-template #details>
    <kunde-details-breadcrumbs></kunde-details-breadcrumbs>

    <section class="mt-1" *ngIf="kunde; else showErrorMsg">
        <h4>Kunde {{ kunde._id }}:</h4>

        <!-- https://getbootstrap.com/docs/4.0/components/navs/#tabs -->
        <!-- jQuery erfordert id -->
        <ul class="nav nav-tabs mt-1" id="kundeDetails">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    id="stammdaten-tab"
                    href="#stammdaten"
                    data-toggle="tab"
                    role="tab"
                    aria-controls="stammdaten"
                    aria-expanded="true"
                >
                    Stammdaten
                </a>
            </li>
            <!-- <li class="nav-item" *ngIf="kunde.hasSchlagwoerter()">
                <a
                    class="nav-link"
                    id="schlagwoerter-tab"
                    href="#schlagwoerter"
                    data-toggle="tab"
                    role="tab"
                    aria-controls="schlagwoerter"
                    aria-expanded="true"
                >
                    Schlagw&ouml;rter
                </a>
            </li> -->
        </ul>
        
        <div class="tab-content" id="kundeContent">
            <div
                class="tab-pane fade show active"
                id="stammdaten"
                role="tabpanel"
                aria-labelledby="stammdaten-tab"
            >
                <div class="mt-2">
                    <kunde-details-stammdaten [kunde]="kunde">
                    </kunde-details-stammdaten>
                </div>
            </div>

            <!-- <div
                class="tab-pane fade"
                id="schlagwoerter"
                role="tabpanel"
                aria-labelledby="schlagwoerter-tab"
                *ngIf="kunde.hasSchlagwoerter()"
            >
                <div class="mt-2">
                    <kunde-details-schlagwoerter [values]="kunde.schlagwoerter">
                    </kunde-details-schlagwoerter>
                </div>
            </div> -->
        </div>
        
        <!-- <kunde-details-bearbeiten [id]="kunde._id" *ngIf="isAdmin">
        </kunde-details-bearbeiten> -->
    </section>

    <ng-template #showErrorMsg>
        <kunde-error-message [text]="errorMsg"></kunde-error-message>
    </ng-template>
</ng-template>
